{% extends "inventex.html" %}
{% load static %}
{% block content %}
  <h1>Arrivages de l'entreprise {{ liste.0.enterprise|default_if_none:"entreprise inconnue" }}.</h1>
  
  <p>
    <table class="table">
      <thead>
         <tr>
            <th>Date</th> 
            <th>Désignation</th> 
            <th>Compléter</th>
            <th>Détails</th>
            {% if perms.accessories.view_achat %}
            <th class="text-center">Total frais</th>
            <th class="text-center">Total achats</th>
            {% endif %}
            <th title="Saisir des frais">Frais</th>
         </tr>
      </thead>
      
      <tfoot>
         <tr>
            <th>Date</th> 
            <th>Désignation</th> 
            <th>Compléter</th>
            <th>Détails</th>
            {% if perms.accessories.view_achat %}
            <th class="text-center">Total frais</th>
            <th class="text-center">Total achats</th>
            {% endif %}
            <th title="Saisir des frais">Frais</th>
         </tr>
      </tfoot>
      
      <tbody>
      {% for i in liste %}
          <tr>  <td>{{i.date}}</td>
                <td>{{i.designation}}</td>
                <td>
                <a href="{% url "coordinates:arrivage-update" pk=i.pk %}">Modifier</a>
                </td>
                <td>
                <a href="{% url "coordinates:arrivage-detail" pk=i.pk %}">Détails</a>
                </td>
                {% if perms.accessories.view_achat %}
                   <td align="right">{{i.get_total_frais|floatformat:2}}  {{target_currency}}</td>
                   <td align="right">{{i.get_total_achats|floatformat:2}} {{target_currency}}</td>
                {% endif %}
                <td>
                <a href="{% url "finance:add_frais" pk=i.pk %}">Saisir</a>
                </td>
          </tr>
      {% endfor %}

      </tbody>
    </table>
  </p>

{% if perms.accessories.view_achat %}
    <table class="table">
        <thead>
        <tr>
            <th class="text-center">Total des frais</th>
            <th class="text-center">Total des achats</th>
            <th class="text-center">Coût de revient total</th>
            <th class="text-center">Total des ventes</th>
            <th class="text-center">Solde</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center">{{total_frais_all_inventories|floatformat:2}} {{target_currency}}</td>
          <td align="center">{{total_achats_all_inventories|floatformat:2}} {{target_currency}}</td>
          <td align="center">{{total_cout_revient|floatformat:2}} {{target_currency}}</td>
          {% if total_ventes %}
            <td align="center">{{total_ventes|floatformat:2}} {{target_currency}}</td>
          {% else %}
            <td align="center">zéro pour l'instant</td>
          {% endif %}
          <td align="center">{{solde|floatformat:2}} {{target_currency}}</td>
        </tr>
        </tbody>
    </table>
{% endif %}
{% endblock %}