{% extends "inventex.html" %}
{% load static %}
{% block content %}
  <h1>Arrivages de l'entreprise {{ liste.0.enterprise|default_if_none:"entreprise inconnue" }}.</h1>
  
  <p>
    <table class="table">
      <thead>
         <tr>
            <th>Date</th> 
            <th>Désignation</th> 
            <th>Compléter</th>
            <th>Détails</th>
            {% if perms.accessories.view_achat %}
            <th>Total frais</th>
            {% endif %}
            <th title="Saisir des frais">Frais</th>
         </tr>
      </thead>
      
      <tfoot>
         <tr>
            <th>Date</th> 
            <th>Désignation</th> 
            <th>Compléter</th>
            <th>Détails</th>
            {% if perms.accessories.view_achat %}
            <th>Total frais</th>
            {% endif %}
            <th title="Saisir des frais">Frais</th>
         </tr>
      </tfoot>
      
      <tbody>
      {% for i in liste %}
          <tr>  <td>{{i.date}} / {{i.enterprise}}</td>
                <td>{{i.designation}}</td>
                <td>
                <a href="{% url "coordinates:arrivage-update" pk=i.pk %}">Modifier</a>
                </td>
                <td>
                <a href="{% url "coordinates:arrivage-detail" pk=i.pk %}">Détails</a>
                </td>
                {% if perms.accessories.view_achat %}
                   <td>{{i.get_total_frais}}</td>
                {% endif %}
                <td>
                <a href="{% url "finance:add_frais" pk=i.pk %}">Saisir</a>
                </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </p>
{% endblock %}