{% extends "inventex.html" %}
{% load mptt_tags %}
{% block content %}
<h1>Liste des habits</h1>
<p>
    <table class="table">
      <thead>
         <tr>
            <th>No</th>
            <th>ID</th>
            <th>Arrivage</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Marque</th>
            <th>Quantité</th>
         </tr>
      </thead>

      <tfoot>
         <tr>
            <th>No</th>
            <th>ID</th>
            <th>Arrivage</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Marque</th>
            <th>Quantité</th>
         </tr>
      </tfoot>

      <tbody>
      {% for a in clothes %}
      <tr><td>{{ forloop.counter }}</td>
          <td>{{ a.id }}</td>
          <td>{{ a.arrivage }}</td>
          <td> <a title="Cliquer pour voir les détails" href="{% url "clothes:detail" a.pk %}">{{ a.name }}</a>  </td>
          <td>{{ a.categories.last }}</td>
          <td>{{ a.marque_ref }}</td>
          <td>{{ a.get_quantity }}</td>
      </tr>
      {% endfor %}
    </table>
  </p>
{% endblock %}