{% extends "inventex.html" %}
{% block content %}
<h1>Ajouter une photo</h1>
<h2>Habit: {{cloth.name}}</h2>
<form action="{% url "clothes:upload_pic" cloth.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        ID:<input type="text" name="Clothes-ID" value="{{cloth.pk}}" readonly><br>
        <br>
        <input id="id_image" type="file" class="" name="image" /><br>
        Légende:<input id="id_legende" type="text" name="legende"/>
    </p>
    <input type="submit" value="Ajouter"/>
</form>
{% endblock %}
