{% extends "inventex.html" %}
{# {% load static %} #}
{% load thumbnails %}
{% block content %}
<p>
<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <th>Date d'arrivage</th><td>{{shoe.arrivage.date}}</td>
      </tr>
      <tr>
          <th>Nom de l'arrivage</th>
        <td>{{shoe.arrivage.designation}}</td>
      </tr>
      <tr>
          <th>Date d'ajout</th>
          <td>{{shoe.date_ajout}}</td>
      </tr>
      <tr>
          <th>Client</th>
        <td>{{shoe.get_type_client_display}}</td>
      </tr>
      <tr>
          <th>Catégorie</th>
        <td>{{ shoe.categories.last }}</td>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{shoe.name}}</td>
      </tr>
      <tr>
        <th>Marque</th>
        <td>{{shoe.marque_ref|default_if_none:"<em>à renseigner</em>"}}</td>
      </tr>
      <tr>
        <th>Quantité en stock</th>
        <td>{{shoe.get_quantity|default_if_none:"<em>à renseigner</em>"}}</td>
      </tr>
      {% if perms.accessories.view_achat %}
      <tr>
        <th>Prix d'achat</th>
        <td>{{shoe.prix_achat|default_if_none:"<em>à renseigner</em>"}}</td>
      </tr>
      <tr>
        <th>Prix à l'unité</th>
        <td>{{shoe.prix_achat.prix_unitaire|default_if_none:"<em>à renseigner</em>"}} </td>
      </tr>
      {% endif %}
    </tbody>
  </table>

</div>
</p>


<div class="pic_container">
    {% for image in shoe.photo_set.all %}
    {% get_thumbnail image.photo.path  "200x200" crop="center" as thumbnail %}
  <div class="pic">
    <p>
        <a href="{{ image.photo.url }}" alt="{{image.legende}}">
        <img src="{{ thumbnail.url }}" alt="The thumbnail" style="width: {{ thumbnail.width }}">
        </a>
    </p>
    <p>
            <a href="{% url "shoes:photo_delete" image.pk  %}">Supprimer</a>
    </p>

  </div>
{% endfor %}
</div>

<p>Ajouter une <strong>image</strong> en cliquant <a href="{% url "shoes:upload_pic" shoe.pk %}">ici</a>.</p>


{% endblock %}

{% block footernav %}
  <ul>
    <li><a href="{% url "shoes:delete" shoe.pk %}"> Effacer</a></li>
    <li><a href="{% url "shoes:update" shoe.pk %}"> Modifier</a></li>
    <li><a href="{% url "shoes:list" %}">Retour à la liste</a></li>
  </ul>
{% endblock %}