{% extends "inventex.html" %}
{% load mptt_tags %}
{% block content %}
<h1>Liste des accessoires</h1>
<p>
    <table>
      <thead>
         <tr>
            <th>No</th>
            <th>Nom</th>
            <th>Catégorie</th>
         </tr>
      </thead>

      <tfoot>
         <tr>
            <th>No</th>
            <th>Nom</th>
            <th>Catégorie</th>
         </tr>
      </tfoot>

      <tbody>
      {% for a in accessoires %}
      <tr><td>{{ forloop.counter }}</td>
          <td>{{ a.name }}</td>
          <td>
    <ul class="root">
    {% recursetree a.categories.all %}
    <li>
        {{ node.title }}
        {% if not node.is_leafnode %}
           <ul class="children">
               {{ children }}
           </ul>
        {% endif %}
    </li>
    {% endrecursetree %}
    </ul>
    </td>
      </tr>
{% endfor %}

    </table>
  </p>
{% endblock %}