{% extends "base.html" %}
{% load static %}
{% block header %}Inventaires{% endblock %}
{% block site_wrapper %}
<div class="container-fluid">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar/brand" href="/"><h3>Inventaires</h3></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Arrivages<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "coordinates:arrivage-create" %}">Créer un arrivage</a></li>
                        <li><a href="{% url "coordinates:arrivages" %}">Arrivages</a></li>
                        <li><a href="{% url "finance:currencies" %}">Devises</a></li>
                        <li><a href="{% url "coordinates:locations" %}">Localités</a></li>
                        <li><a href="{% url "finance:list" %}">Liste des frais</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Habits<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "clothes:category_create" %}" title="crée une catégorie d'habit">Créer catégorie d'habit</a></li>
                        <li><a href="{% url "clothes:category-list" %}" title="Affiche les catégories">Affiche les catégories d'habits</a></li>
                        <li><a href="{% url "clothes:clothes_create" %}" title="Saisir un habit">Saisir un habit</a></li>
                        <li><a href="{% url "clothes:list" %}" title="Liste des habits">Liste des habits</a></li>
                        <li><a href="{% url "clothes:inventory_create" %}" title="après avoir entré les habits">Générer un inventaire</a></li>
                        <li><a href="{% url "clothes:inventory" %}" title="Visualiser un inventaire, par défaut le plus récent est affiché.">Afficher un inventaire</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chaussures<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "shoes:category_create" %}" title="crée une catégorie">Créer catégorie chaussure</a></li>
                        <li><a href="{% url "shoes:category-list" %}" title="Affiche les catégories">Affiche les catégories chaussures</a></li>
                        <li><a href="{% url "shoes:shoe_create" %}" title="">Entrer une chaussure</a></li>
                        <li><a href="{% url "shoes:list" %}" title="">Liste des chaussures</a></li>
                        <li><a href="{% url "shoes:inventory_create" %}" title="après avoir entré les articles">Générer un inventaire</a></li>
                        <li><a href="{% url "shoes:inventory" %}" title="Visualiser un inventaire, par défaut le plus récent est affiché.">Afficher un inventaire</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Accessoires<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "accessories:category-create" %}" title="crée une catégorie d'accessoire">Créer catégorie d'accessoire</a></li>
                        <li><a href="{% url "accessories:category-list" %}" title="Affiche les catégories d'accessoires">Affiche les catégories d'accessoires</a></li>
                        <li><a href="{% url "accessories:create" %}" title="Crée un accessoire">Créer un accessoire</a></li>
                        <li><a href="{% url "accessories:list" %}" title="Liste des accessoires">Liste des accessoires</a></li>
                        <li><a href="{% url "accessories:inventory-create" %}" title="après avoir entré les articles">Générer un inventaire</a></li>
                        <li><a href="{% url "accessories:inventory-list" %}" title="Visualiser un inventaire, par défaut le plus récent est affiché.">Afficher un inventaire</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sorties<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "finance:ventes"  %}" title="afficher les ventes">Afficher les ventes</a></li>
                    </ul>
                </li>
                <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url "accounts:logout" %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
                    <p class="navbar-text">En ligne: {{request.user.username}}</p>
                {% else %}
                    <li><a href="{% url "accounts:login" %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
                {% endif %}
            </ul>
        </div>
    </nav>

        {% block content %}

        {% endblock %}
    <footer>
        <nav id="footernav">
            {% block footernav %}{% endblock %}
        </nav>
    </footer>
</div>
{% endblock %}
